.Rproj.user
.Rhistory
.RData
vignettes/*.log
vignettes/*.tex
vignettes/*.synctex.gz
vignettes/figure
src/*.o
src/*.so
..pdf
FRK.Rcheck
*.tar.gz
inla-mesher-functions
paper
vignettes/cache
*.bbl
*.toc
bigstudies