FRK.Rproj
.Rproj.user
.Rhistory
.RData
vignettes/*.log
vignettes/*.tex
vignettes/*.synctex.gz
vignettes/figure
src/*.o
src/*.so
..pdf
FRK.Rcheck
*.tar.gz
inla-mesher-functions
PBSmapping
paper
vignettes/cache
pres/
*.bbl
*.toc
bigstudies
Permissions
*.dll
*.Rnw
*.bib